USE [master]
GO
/****** Object:  Database [ProyectoFMetodos]    Script Date: 23/05/2025 11:53:17 ******/
CREATE DATABASE [ProyectoFMetodos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoFMetodos', FILENAME = N'C:\Users\games\ProyectoFMetodos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoFMetodos_log', FILENAME = N'C:\Users\games\ProyectoFMetodos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoFMetodos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoFMetodos]
GO
/****** Object:  Table [dbo].[ResultadosMetodos]    Script Date: 23/05/2025 11:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultadosMetodos](
	[ResultadoId] [int] IDENTITY(1,1) NOT NULL,
	[Metodo] [nvarchar](50) NULL,
	[NombreUsuario] [nvarchar](100) NULL,
	[Funcion] [nvarchar](max) NULL,
	[X0] [float] NULL,
	[X1] [float] NULL,
	[X2] [float] NULL,
	[Resultado] [float] NULL,
	[Iteraciones] [int] NULL,
	[ErrorRelativo] [decimal](18, 10) NOT NULL,
	[Fecha] [datetime] NULL,
	[Grafica] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 23/05/2025 11:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResultadosMetodos] ADD  CONSTRAINT [DF_ResultadosMetodos_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
USE [master]
GO
