USE [master]
GO
/****** Object:  Database [ProyectoFMetodos]    Script Date: 22/05/2025 19:24:07 ******/
CREATE DATABASE [ProyectoFMetodos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoFMetodos', FILENAME = N'C:\Users\games\ProyectoFMetodos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoFMetodos_log', FILENAME = N'C:\Users\games\ProyectoFMetodos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoFMetodos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoFMetodos]
GO
/****** Object:  Table [dbo].[ResultadosMuller]    Script Date: 22/05/2025 19:24:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultadosMuller](
	[ResultadoId] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Funcion] [varchar](255) NOT NULL,
	[X0] [float] NULL,
	[X1] [float] NULL,
	[X2] [float] NULL,
	[Resultado] [float] NULL,
	[Iteraciones] [int] NULL,
	[Grafica] [varbinary](max) NULL,
	[ErrorRelativo] [decimal](20, 15) NULL,
	[Fecha] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultadosNewton]    Script Date: 22/05/2025 19:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultadosNewton](
	[ResultadoId] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Funcion] [varchar](255) NOT NULL,
	[X0] [float] NOT NULL,
	[Iteraciones] [int] NOT NULL,
	[Resultado] [float] NOT NULL,
	[Grafica] [varbinary](max) NULL,
	[ErrorRelativo] [decimal](20, 15) NULL,
	[Fecha] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultadosSecante]    Script Date: 22/05/2025 19:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultadosSecante](
	[ResultadoId] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Funcion] [varchar](255) NOT NULL,
	[X0] [float] NULL,
	[X1] [float] NULL,
	[Resultado] [float] NULL,
	[Iteraciones] [int] NULL,
	[Grafica] [varbinary](max) NULL,
	[ErrorRelativo] [decimal](20, 15) NULL,
	[Fecha] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 22/05/2025 19:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResultadosMuller] ADD  CONSTRAINT [DF_ResultadosMuller_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[ResultadosNewton] ADD  CONSTRAINT [DF_ResultadosNewton_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[ResultadosSecante] ADD  CONSTRAINT [DF_ResultadosSecante_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[ResultadosNewton]  WITH CHECK ADD FOREIGN KEY([NombreUsuario])
REFERENCES [dbo].[Usuarios] ([NombreUsuario])
GO
USE [master]
GO
