USE [master]
GO
/****** Object:  Database [ProyectoFMetodos]    Script Date: 29/05/2025 17:28:29 ******/
CREATE DATABASE [ProyectoFMetodos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoFMetodos', FILENAME = N'C:\Users\games\ProyectoFMetodos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoFMetodos_log', FILENAME = N'C:\Users\games\ProyectoFMetodos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoFMetodos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoFMetodos]
GO
/****** Object:  Table [dbo].[IteracionesDetalle]    Script Date: 29/05/2025 17:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IteracionesDetalle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResultadoId] [int] NOT NULL,
	[Iteracion] [int] NOT NULL,
	[ErrorRelativo] [float] NULL,
	[X0] [float] NULL,
	[X1] [float] NULL,
	[X2] [float] NULL,
	[fX0] [float] NULL,
	[fX1] [float] NULL,
	[fX2] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Metodos]    Script Date: 29/05/2025 17:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metodos](
	[MetodoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Tipo] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MetodoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultadosMetodos]    Script Date: 29/05/2025 17:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultadosMetodos](
	[ResultadoId] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Funcion] [nvarchar](max) NULL,
	[X0] [float] NULL,
	[X1] [float] NULL,
	[X2] [float] NULL,
	[Resultado] [float] NULL,
	[Iteraciones] [int] NULL,
	[ErrorRelativo] [decimal](18, 10) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Grafica] [varbinary](max) NULL,
	[MetodoId] [int] NULL,
	[ValorX] [float] NULL,
	[ValorY] [float] NULL,
	[ValorZ] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 29/05/2025 17:28:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResultadosMetodos] ADD  CONSTRAINT [DF_ResultadosMetodos_Fecha]  DEFAULT (CONVERT([date],getdate())) FOR [Fecha]
GO
ALTER TABLE [dbo].[IteracionesDetalle]  WITH CHECK ADD  CONSTRAINT [FK_IteracionesDetalle_Resultado] FOREIGN KEY([ResultadoId])
REFERENCES [dbo].[ResultadosMetodos] ([ResultadoId])
GO
ALTER TABLE [dbo].[IteracionesDetalle] CHECK CONSTRAINT [FK_IteracionesDetalle_Resultado]
GO
ALTER TABLE [dbo].[ResultadosMetodos]  WITH CHECK ADD  CONSTRAINT [FK_ResultadosMetodos_Metodos] FOREIGN KEY([MetodoId])
REFERENCES [dbo].[Metodos] ([MetodoId])
GO
ALTER TABLE [dbo].[ResultadosMetodos] CHECK CONSTRAINT [FK_ResultadosMetodos_Metodos]
GO
ALTER TABLE [dbo].[ResultadosMetodos]  WITH CHECK ADD  CONSTRAINT [FK_ResultadosMetodos_Usuarios] FOREIGN KEY([NombreUsuario])
REFERENCES [dbo].[Usuarios] ([NombreUsuario])
GO
ALTER TABLE [dbo].[ResultadosMetodos] CHECK CONSTRAINT [FK_ResultadosMetodos_Usuarios]
GO
USE [master]
GO
